* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	background: linear-gradient(135deg, #5ab0a7, black);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: #403e3e;
	max-width: 100%;
	font-family: 'Orbitron', sans-serif;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 0 25px black;
	width: 350px;
	padding: 20px 20px 20px 10px;
	display: grid;
	grid-gap: 15px;
	grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'screen screen screen screen'
		'plus   minus  multiply  divide'
		'btn7   btn8   btn9   delete'
		'btn4   btn5   btn6   ac'
		'btn1   btn2   btn3   equals'
		'btn0   btn0    dot   equals';
}

#screen {
	grid-area: screen;
	border-radius: 5px;
	background-color: #1b1c12;
	padding: 8px 12px;
	font-size: 27px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	word-break: break-all;
	overflow: hidden;
	height: 65px;
	/* max-height: 95px; */
	text-align: right;
}

#ac {
	grid-area: ac;
}
#del {
	grid-area: delete;
	padding: 0;
}
#dot {
	grid-area: dot;
}
#plus {
	grid-area: plus;
}
#minus {
	grid-area: minus;
}
#multiply {
	grid-area: multiply;
}
#divide {
	grid-area: divide;
}
#equals {
	grid-area: equals;
}
#btn0 {
	grid-area: btn0;
}
#btn1 {
	grid-area: btn1;
}
#btn2 {
	grid-area: btn2;
}
#btn3 {
	grid-area: btn3;
}
#btn5 {
	grid-area: btn5;
}
#btn6 {
	grid-area: btn6;
}
#btn7 {
	grid-area: btn7;
}
#btn8 {
	grid-area: btn8;
}
#btn9 {
	grid-area: btn9;
}

.btn {
	padding: 16px;
	margin: 0;
	font-size: 22px;
	cursor: pointer;
	/* background-color: #5f5f5f; */
	background-color: rgba(0, 0, 0, 0.835);
	border-style: solid;
	border-color: rgb(37, 37, 37);
	border-width: 1px;
	/* color: white; */
	color: red;
	font-family: 'Orbitron', sans-serif;
	transition: .3s ease;

	box-shadow: 2px 2px 5px rgb(255, 0, 0);
}

:is(.btn):hover {
	transform: scale(1.1);
	border-style: hidden;
}

.operators{
	box-shadow: 2px 2px 4px rgb(0, 255, 0);
	font-size: 25px;
}
.operators:hover {
	background-color: rgb(0, 255, 0);
	color: black;
}

#equals {
	box-shadow: 2px 2px 5px #ffff00;
}
#equals:hover{
	background-color: #ffff00;
	color: black;
}

#dot {
	box-shadow: 2px 2px 5px rgb(255, 0, 242);
}
#dot:hover{
	background-color: rgb(255, 0, 242);
	color: black;
}

:is(#del, #ac)  {
	box-shadow: 2px 2px 5px rgb(0, 247, 255);
}
:is(#del, #ac):hover  {
	background-color: rgb(0, 247, 255);
	color: black;
}



.number-btns:hover {
	background-color: rgb(255, 0, 0);
	color: white;
}


/* :is(#equals, .btn, .operators):active {
	background-color: greenyellow;
	transform: scale(1.1);
} */
